.feedGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

@media (min-width: 640px) {
  .feedGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .feedGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
